/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    /* background-image: url('../img/back2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
    background-color: black;
}

header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    /* padding-top: 3rem; */
    background-image: url(../img/header-final.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* background-position: initial; */
    background-position: center;
    color:black;
    font-size: 16px;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 3em;
    margin-top: 5rem;
    margin-bottom: 10rem;
    font-weight: 1500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: ghostwhite;
    animation-duration: 1.5s;
    animation-name: reveal_title;
    animation-iteration-count: infinite
}

@keyframes reveal_title {
    0% {
      opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }

 }
 

/* caracteristicas del Menu de direccion */

.menu{
    /* margin: 2rem; */
    text-align: center;
}

header nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header nav ul li{
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

header nav ul li a{
    text-decoration: none;
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 6px solid;
    border-radius: 1rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 0.65em;
    color:ghostwhite;
    background-color:darkblue;
    transition: border 0.4s;
    margin: 0.5rem;
}

.mainMenu:hover{
    border: 3px solid ghostwhite;
}

/* caracteristicas generales del Main */

main{
    font-size: 16px;

}

/* Caracteristicas de los titulos del main */
.mainTitle{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    font-style: italic;
    font-weight: 1000;
}

/* Caracteristicas de los textos del main */
.mainText{
    /* margin: 1rem;
    margin-bottom: 1rem; */
    margin: 0.8em;
    font-size: 1.1em;
    /* text-align: center; */
}

/* caracteristicas de las fotos  */
.mainImg{
    /* border-radius: 10px; */
    /* border-style: groove; */
    /* margin-top: 1rem; */
    /* width: 100%;
    height: 100%; */
    width: 100%;
    height: 100%;
}

/* Caracteristicas de los enlaces del main */
.mainLink{
    /* margin: 1rem;
    margin-top: 0rem; */
    color: white;
    font-size: 1em;
    height: 100%;
    padding: 0.2em;
    margin: 0.2em;
    border-radius: 20px;
    border: 2px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    /* width: 112.8px; */
    transition: border-left 0.4s, border-bottom 0.4s;
}

.mainLink:hover{
    border-bottom: 8px solid black;
    border-left: 8px solid black;
}

/* Caracteristicas del Index-Main
        Display Grid */

.mainIndexI{
    display: grid;
    grid-template-areas: "titleH titleH"
                         "textH textH"
                         "imgH linkH";
    grid-template-columns: 2fr 1.3fr;
    justify-content: center;
    justify-items: center;
    background: rgb(50,43,131);
    background: linear-gradient(90deg, rgba(50,43,131,1) 0%, rgba(50,43,131,1) 75%, rgba(140,150,193,1) 100%);
}

/* Definicion de las areas */

#imgH{
    grid-area: imgH;
    justify-self: left;
}

#titleH{
    grid-area: titleH;
    justify-self: center;
    width: 100%;
    background: linear-gradient(90deg, rgba(39,22,233,1) 0%, rgba(39,22,233,1) 75%, rgba(140,150,193,1) 100%);;
}

#textH{
    grid-area: textH;
    text-align: start;
    background: linear-gradient(90deg, rgba(39,22,233,1) 0%, rgba(39,22,233,1) 75%, rgba(140,150,193,1) 100%);;
}

#linkH{
    grid-area: linkH;
    align-self: center;
    text-align: center;
}


.mainIndexII{
    display: grid;
    grid-template-areas:"titleD titleD"
    "textD textD"
    "imgD linkD";
    grid-template-columns: 2fr 1.3fr;
    justify-content: center;
    justify-items: center;
    background: rgb(159,119,15);
    background: linear-gradient(90deg, rgba(159,119,15,1) 0%, rgba(159,119,15,1) 75%, rgba(226,200,135,1) 100%); ;
}

#imgD{
    grid-area: imgD;
    justify-self: left;
}

#titleD{
    grid-area: titleD;
    justify-self: center;
    width: 100%;
    background: rgb(221,164,18);
    background: linear-gradient(90deg, rgba(221,164,18,1) 0%, rgba(221,164,18,1) 75%, rgba(226,200,135,1) 100%);;
}

#textD{
    grid-area: textD;
    text-align: start;
    background: rgb(221,164,18);
    background: linear-gradient(90deg, rgba(221,164,18,1) 0%, rgba(221,164,18,1) 75%, rgba(226,200,135,1) 100%);;
}

#linkD{
    grid-area: linkD;
    align-self: center;
    text-align: center;
}



.mainIndexIII{
    display: grid;
    grid-template-areas: "titleE titleE"
    "textE textE"
    "imgE linkE";
    grid-template-columns: 2fr 1.3fr;
    justify-content: center;
    justify-items: center;
    background: rgb(165,42,42);
    background: linear-gradient(90deg, rgba(165,42,42,1) 0%, rgba(165,42,42,1) 75%, rgba(190,123,123,1) 100%);;
}

#imgE{
    grid-area: imgE;
    justify-self: left;
}

#titleE{
    grid-area: titleE;
    justify-self: center;
    width: 100%;
    background: rgb(222,79,79);
    background: linear-gradient(90deg, rgba(222,79,79,1) 0%, rgba(222,79,79,1) 75%, rgba(190,123,123,1) 100%);;
}

#textE{
    grid-area: textE;
    text-align: start;
    background: rgb(222,79,79);
    background: linear-gradient(90deg, rgba(222,79,79,1) 0%, rgba(222,79,79,1) 75%, rgba(190,123,123,1) 100%);;
}

#linkE{
    grid-area: linkE;
    align-self: center;
    text-align: center;
}

.mainIndexIV{
    display: grid;
    grid-template-areas: "titleC titleC"
    "textC textC"
    "imgC linkC";
    grid-template-columns: 2fr 1.3fr;
    justify-content: center;
    justify-items: center;
    background: rgb(19,83,48);
    background: linear-gradient(90deg, rgba(19,83,48,1) 0%, rgba(19,83,48,1) 75%, rgba(102,172,133,1) 100%);;
}

#imgC{
    grid-area: imgC;
    justify-self: left;
}

#titleC{
    grid-area: titleC;
    justify-self: center;
    width: 100%;
    background: rgb(34,115,70);
    background: linear-gradient(90deg, rgba(34,115,70,1) 0%, rgba(34,115,70,1) 75%, rgba(102,172,133,1) 100%); ;
}

#textC{
    grid-area: textC;
    text-align: start;
    background: rgb(34,115,70);
    background: linear-gradient(90deg, rgba(34,115,70,1) 0%, rgba(34,115,70,1) 75%, rgba(102,172,133,1) 100%); ;
}

#linkC{
    grid-area: linkC;
    align-self: center;
    text-align: center;
}


/* Caracteristicas del Main */

.mainHistoria{
    padding: 0.8rem;
    display: grid;
    grid-template-areas: "histTitle histTitle histTitle" 
                         "text1 text1 text1"
                         "img1 img1 img1"
                         "text2 text2 text2"
                         "img2 img2 img2"
                         "text3 text3 text3"
                         "img3 img3 img3"
                         "text4 text4 text4"
                         "img4 img4 img4"
                         "text5 text5 text5"
                         "img5 img5 img5"
                         "text6 text6 text6"
                         "img6 img6 img6"
                         "text7 text7 text7"
                         "img7 img7 img7"
                         "text8 text8 text8"
                         "img8 img8 img8"
                         "text9 text9 text9"
                         "img9 img9 img9"
                         "text10 text10 text10"
                         "img10 img10 img10";
    row-gap: 1rem;    
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.histImg{
    border-radius: 1rem;
    border-style: groove;
    margin: 0px;
    width: 100%;
    height: 100%;
    justify-self: center;
}

.histText{
    margin: 0.3rem;
    font-size: 1.1em;
    text-align: justify;
    flex-wrap: wrap;

}

#histTitle{
    grid-area: histTitle;
    justify-self: center;
}

#text1{
    grid-area: text1;
    align-self: center;
    text-align: center;
}

#img1{
    grid-area: img1;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#text2{
    grid-area: text2;
    align-self: center;    
}

#img2{
    grid-area: img2;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#text3{
    grid-area: text3;
    align-self: center;
}

#img3{
    grid-area: img3;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#text4{
    grid-area: text4;
    align-self: center;
}

#img4{
    grid-area: img4;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#text5{
    grid-area: text5;
    align-self: center;
}

#img5{
    grid-area: img5;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#text6{
    grid-area: text6;
    align-self: center;
}

#img6{
    grid-area: img6;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#text7{
    grid-area: text7;
    align-self: center;
}

#img7{
    grid-area: img7;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#text8{
    grid-area: text8;
    align-self: center;
}

#img8{
    grid-area: img8;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#text9{
    grid-area: text9;
    align-self: center;
}

#img9{
    grid-area: img9;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#text10{
    grid-area: text10;
    align-self: center;
}

#img10{
    grid-area: img10;
    justify-self: center;
    align-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Main discografia */

.mainDisc{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-template-areas: "dTitle"
                         "discTitle1"
                         "discImg1"
                         "discText1" 
                         "discLink1"
                         "discTitle2"
                         "discImg2"
                         "discText2" 
                         "discLink2"
                         "discTitle3"
                         "discImg3"
                         "discText3" 
                         "discLink3"
                         "discTitle4"
                         "discImg4"
                         "discText4" 
                         "discLink4"
                         "discTitle5"
                         "discImg5"
                         "discText5" 
                         "discLink5"
                         "discTitle6"
                         "discImg6"
                         "discText6" 
                         "discLink6";
    justify-content: center;
    justify-items: center;
    row-gap: 1rem;
    font-size: 16px;
}

.discImage{
    margin: 0px;
    width: 100%;
    /* height: 100%; */
    justify-self: center;
}

.discSubtitle{
    text-align: center;
    font-style: italic;
    /* margin-left: 3%;
    margin-right: 3%; */
    font-size: 1.5em;
    width: 100%;
}

.discText{
    text-align: center;
    margin: 5%;
    font-size: 1.2em;
}

.discLink{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 3px;
    font-size: 1em;
    border: 2px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-radius: 20px;
    transition: border-left 0.4s, border-bottom 0.4s;
}

.discLink:hover{
    border-bottom: 8px solid white;
    border-left: 8px solid white;
}


.discImgAjust{
    margin-left: 10%;
    margin-right: 10%;
    align-self: center;
}

#dTitle{
    grid-area: dTitle;
}

#discTitle1{
    grid-area: discTitle1;
    margin-left: 3%;
    margin-right: 3%;
}

#discImg1{
    grid-area: discImg1;
}

#discText1{
    grid-area: discText1;
}

#discLink1{
    grid-area: discLink1;
    text-align: center;
    margin: 5%;
}


#discTitle2{
    grid-area: discTitle2;
    margin-left: 3%;
    margin-right: 3%;
}

#discImg2{
    grid-area: discImg2;
}

#discText2{
    grid-area: discText2;
}

#discLink2{
    grid-area: discLink2;
    text-align: center;
    margin: 5%;
}


#discTitle3{
    grid-area: discTitle3;
    margin-left: 3%;
    margin-right: 3%;
}

#discImg3{
    grid-area: discImg3;
}

#discText3{
    grid-area: discText3;
}

#discLink3{
    grid-area: discLink3;
    text-align: center;
    margin: 5%;
}


#discTitle4{
    grid-area: discTitle4;
    margin-left: 3%;
    margin-right: 3%;
}

#discImg4{
    grid-area: discImg4;
}

#discText4{
    grid-area: discText4;
}

#discLink4{
    grid-area: discLink4;
    text-align: center;
    margin: 5%;
}


#discTitle5{
    grid-area: discTitle5;
    margin-left: 3%;
    margin-right: 3%;
}

#discImg5{
    grid-area: discImg5;
}

#discText5{
    grid-area: discText5;
}

#discLink5{
    grid-area: discLink5;
    text-align: center;
    margin: 5%;
}


#discTitle6{
    grid-area: discTitle6;
    margin-left: 3%;
    margin-right: 3%;
}

#discImg6{
    grid-area: discImg6;
}

#discText6{
    grid-area: discText6;
}

#discLink6{
    grid-area: discLink6;
    text-align: center;
    margin: 5%;
}





/* Footer */

footer{
    background-color: rgb(35, 35, 35);
    background-image: url('../img/amlogo.png');
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0.5rem;
    font-size: 16px;
}

footer h4{
    padding: 0.5rem;  
    font-size: 1em;
}

.footerLink{
    font-size: 0.8em;
    padding: 0.4em;
    padding-top: 0.6em;
    color: white;
    text-decoration: none;
}



@media screen and (min-width:600px){
    /* caracteristicas del titulo */

    .title{
        font-size: 4em;
        margin-top: 3rem;
        font-weight: 1500;
    }

    /* caracteristicas del Menu de direccion */
    header nav{
        margin-bottom: 1.5rem;
    }

    header nav ul{
        justify-content: space-evenly;
        margin-left: 5%;
        margin-right: 5%;
    }

    header nav ul li a{
        padding: 0.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border: 3px solid;
        border-bottom: 6px solid;
        border-left: 6px solid;
        font-size: 0.8rem;
    }

    /* Caracteristicas del Main */
    main{
        font-size: 20px;
    }

    .mainHistoria{
        padding: 0.8rem;
        display: grid;
        grid-template-areas: "histTitle histTitle histTitle" 
                             "img1 text1 text1"
                             "text2 text2 img2"
                             "img3 text3 text3"
                             "text4 text4 img4"
                             "img5 text5 text5"
                             "text6 text6 img6"
                             "img7 text7 text7"
                             "text8 text8 img8"
                             "img9 text9 text9"
                             "text10 text10 img10"; 
        row-gap: 1em; 
    }  

    #img1{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    #img2{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    
    #img3{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    

    #img4{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    
    #img5{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    #img6{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    #img7{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    
    #img8{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    #img9{
        margin-left: 1rem;
        margin-right: 1rem;
    }
        
    #img10{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .mainDisc{
        display: grid;
        grid-template-areas: "dTitle dTitle"
                             "discTitle1 discTitle1"
                             "discImg1 discText1"
                             "discLink1 discLink1"
                             "discTitle2 discTitle2"
                             "discImg2 discText2"
                             "discLink2 discLink2"
                             "discTitle3 discTitle3"
                             "discImg3 discText3"
                             "discLink3 discLink3"
                             "discTitle4 discTitle4"
                             "discImg4 discText4"
                             "discLink4 discLink4"
                             "discTitle5 discTitle5"
                             "discImg5 discText5"
                             "discLink5 discLink5"
                             "discTitle6 discTitle6"
                             "discImg6 discText6"
                             "discLink6 discLink6";
        justify-content: center;
        justify-items: Center;
        grid-template-columns: 1.5fr 2fr;
        font-size: 20px;
    }

    .discText{
        text-align: start;
    }

    footer{
        font-size: 20px;
    }
}

@media screen and (min-width:900px){
    body{
        /* background-color: rgb(1, 1, 37); */
        background-image: url(../img/header-final.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .mainHistoria{
        border-radius: 2rem;
        border-style: solid;
        border-color: gray;
        padding: 2rem;
        margin: 1rem;
        margin-top: 0rem;
        margin-bottom: 3rem;
    }

    /* caracteristicas del Menu de direccion */
    header nav ul{
        justify-content: space-evenly;
        margin-left: 10%;
        margin-right: 10%;
    }

    header nav ul li a{
        padding: 1rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        border: 4px solid;
        border-bottom: 8px solid;
        border-left: 8px solid;
        font-size: 1rem;
    }

    /* Caracteristicas del Main */
    main{
        font-size: 24px;
    }

    .mainDisc{
        border-radius: 2rem;
        border-style: solid;
        border-color: gray;
        padding: 2rem;
        margin: auto;
        margin-bottom: 3rem;
        width: 968px;
    }

    footer{
        font-size: 24px;
    }
}

@media screen and (min-width:1100px){
    .mainHistoria{
        width: 1068px;
        margin: auto;
        margin-bottom: 3rem;
        justify-self: center;
    }
}