//Configuracion de Estilos con SASS

//imports

@import "utilities/variables";

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuraciones generales del Body */ 
body{
    color: $color-p-letra;
    font-size: $tamano-letra;
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* Configuraciones del Header */
    header{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        background-image: url(../img/aniceheader.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        color: $color-secundario;
        h1{
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            font-size: $tamano-letra * 3;
            margin-bottom: 12rem;
            padding-top: 5rem;
            font-weight: 1000;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: ghostwhite;
            animation-duration: 1.5s;
            animation-name: reveal_title;
            animation-iteration-count:infinite;
        }
        .color-and-bg{
            background-color:dodgerblue;
            margin: 0px;
            color: $color-p-letra;
        }
        .menu2{
            text-align: center;
            ul{
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin-bottom: 2rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                li{
                    list-style: none;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    .mainMenu{
                        text-decoration: none;
                        padding: 1rem;
                        padding-left: 1.2rem;
                        padding-right: 1.2rem;
                        border: 6px solid $color-p-letra;
                        border-radius: 1rem;
                        font-family: 'Times New Roman', Times, serif;
                        text-transform: uppercase;
                        font-weight: 1000;
                        font-size: $tamano-letra;
                        color: $color-p-letra;
                        background-color: $bg-nav;
                        transition: all $transiciones;
                    }
                    .mainMenu:hover{
                        border: 12px solid white;
                        padding: 1.5rem;
                        padding-left: 1.8rem;
                        padding-right: 1.8rem;
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
    main{
        /* Cacteristicas del Main */
        background-image: url(../img/bg2.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        .bootLink{
            /* Carac de botones del Index */
            color: white;
            align-self: center;
            text-align: center;
        }
    }
    .mainHistoria{
        /* Caracteristicas del Main Historia */
        padding: 0.8rem;
        display: grid;
        grid-template-areas: "histTitle histTitle histTitle" 
                             "text1 text1 text1"
                             "img1 img1 img1"
                             "text2 text2 text2"
                             "img2 img2 img2"
                             "text3 text3 text3"
                             "img3 img3 img3"
                             "text4 text4 text4"
                             "img4 img4 img4"
                             "text5 text5 text5"
                             "img5 img5 img5"
                             "text6 text6 text6"
                             "img6 img6 img6"
                             "text7 text7 text7"
                             "img7 img7 img7"
                             "text8 text8 text8"
                             "img8 img8 img8"
                             "text9 text9 text9"
                             "img9 img9 img9"
                             "text10 text10 text10"
                             "img10 img10 img10";
        row-gap: 1rem;    
        background-image: url('../img/bg2-desen.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        .histImg{
            border-radius: 1rem;
            border-style: groove;
            margin: 0px;
            width: $tamano-imagen;
            height: $tamano-imagen;
            justify-self: center;
        }
        .histText{
            margin: 0.3rem;
            font-size: $tamano-letra * 1.1;
            text-align: justify;
        }
        #histTitle{
            grid-area: histTitle;
            justify-self: center;
        }
        #text1{
            grid-area: text1;
            align-self: center;
            text-align: center;
        }
        #img1{
            grid-area: img1;
            justify-self: center;
            align-self: center;
            margin-left: $margin-hist;
            margin-right: $margin-hist;
        }
        #text2{
            grid-area: text2;
            align-self: center;    
        }
        #img2{
            grid-area: img2;
            justify-self: center;
            align-self: center;
            margin-left: $margin-hist;
            margin-right: $margin-hist;
        }
        #text3{
            grid-area: text3;
            align-self: center;
        }
        #img3{
            grid-area: img3;
            justify-self: center;
            align-self: center;
            margin-left: $margin-hist;
            margin-right: $margin-hist;
        }
        #text4{
            grid-area: text4;
            align-self: center;
        }
        #img4{
            grid-area: img4;
            justify-self: center;
            align-self: center;
            margin-left: $margin-hist;
            margin-right: $margin-hist;
        }
        #text5{
            grid-area: text5;
            align-self: center;
        }
        #img5{
            grid-area: img5;
            justify-self: center;
            align-self: center;
            margin-left: $margin-hist;
            margin-right: $margin-hist;
        }
        #text6{
            grid-area: text6;
            align-self: center;
        }
        #img6{
            grid-area: img6;
            justify-self: center;
            align-self: center;
            margin-left: $margin-hist;
            margin-right: $margin-hist;
        }
        #text7{
            grid-area: text7;
            align-self: center;
        }
        #img7{
            grid-area: img7;
            justify-self: center;
            align-self: center;
            margin-left: $margin-hist;
            margin-right: $margin-hist;
        }
        #text8{
            grid-area: text8;
            align-self: center;
        }
        #img8{
            grid-area: img8;
            justify-self: center;
            align-self: center;
            margin-left: $margin-hist;
            margin-right: $margin-hist;
        }
        #text9{
            grid-area: text9;
            align-self: center;
        }
        #img9{
            grid-area: img9;
            justify-self: center;
            align-self: center;
            margin-left: $margin-hist;
            margin-right: $margin-hist;
        }
        #text10{
            grid-area: text10;
            align-self: center;
        }
        #img10{
            grid-area: img10;
            justify-self: center;
            align-self: center;
            margin-left: $margin-hist;
            margin-right: $margin-hist;
        }
    }
    footer{
        background-color: $color-footer;
        background-image: url('../img/amlogo.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0.5rem;
        h4{
            font-size: $tamano-letra;
        }
        .footerLink{
            font-size: $tamano-letra * 0.8;
            padding: 0.4rem;
            padding-top: 0.6rem;
            color: $color-p-letra;
            text-decoration: none;
        }
    }
}


@import "utilities/css";
@import "utilities/media-queries"