//Variables

//fonts: 

$tamano-letra: 1rem;
$color-p-letra: white;
$color-secundario: black;

$transiciones: 0.4s;

$bg-nav: darkblue;

$color-footer: rgb(35,35,35);

$tamano-imagen: 100%;

$margin-hist: 2rem;
